<!DOCTYPE html>
<div class="container">
    <form action="/products/search" method="post">
        <div class="input-field">
            <input name="searchKeyword" id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
</div>
<div class="container" >    
    <button class="btn btn-info" id="lth">Price: low-high</button>
    <button class="btn btn-info" id="htl">Price: high-low</button>
</div>

<div id="products" class="row container">
    {{#each products}}
    <div class="col s3">
        <div class="card" id="product">
            <div class="card-image">
                <img class="materialboxed" src="/images/{{this.image}}" id="img">
                <a title="Add to cart" data-id="{{this._id}}" class="addCart btn-floating halfway-fab waves-effect waves-light red" id="id"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content index-card-content">
                <p><a href="/products/detail/{{this._id}}" class="red-text" id="name">{{this.name}}</a></p>
                <p id="price">{{this.price}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- float button -->
<div class="fixed-action-btn">
    {{#if sess.user}}
    <span id="cart-number" class="bubble">{{sess.user.cart.length}}</span>
    {{else}}
    <span id="cart-number" class="bubble">0</span>
    {{/if}}
    <a href="/products/cart" class="btn-floating btn-large red">
        <i class="large material-icons">shopping_cart</i>
    </a>
</div>
<script src="/javascripts/category.js"></script>