<div class="row">

    {{#if email_info}}
    <form method="post" action="/users/update_new_passoword" class="col s12">
        <div class="description">
            <p>Please provide new password</p>
        </div>
        <div class="row">
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">email</i>
                    <input name="email" id="email" type="email" class="validate" disabled value="{{email_info}}">
                    <label for="email">Email</label>
                </div>
            </div>
            <input name="email" type="hidden" id="email" value="{{email_info}}" />
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <i class="material-icons prefix">vpn_key</i>
                    <input name="new_password" id="password" type="password" class="validate">
                    <label for="password">New Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <button class="btn" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
    {{else}}
    <form method="post" action="/users/forgetpassword" class="col s12">
        <div class="description">

         <p>  Please provide your email address. We will send details to reset your password.</p>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">email</i>
                <input name="email" id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <button class="btn" type="submit">send</button>
                </div>
            </div>
        </div>
    </form>
    {{/if}}
</div>