<div class="container">
    <form action="/products/search" method="post">
        <div class="input-field">
            <input name="searchKeyword" id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
</div>

<div class="carousel" id="carousel">
</div>

<div class="container" >
    <button class="btn btn-info" id="lth">Price: low-high</button>
    <button class="btn btn-info" id="htl">Price: high-low</button>
</div>
<div class="row container" id="products">
</div>

<!-- float button -->
<div class="fixed-action-btn">
    {{#if sess.user}}
    <span id="cart-number" class="bubble">{{sess.user.cart.length}}</span>
    {{else}}
    <span id="cart-number" class="bubble">0</span>
    {{/if}}
    <a href="/products/cart" class="btn-floating btn-large red">
        <i class="large material-icons">shopping_cart</i></a>
    </a>
</div>
<script src="/javascripts/materialize.min.js"></script>
<script src="/javascripts/index.js"></script>